body {
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
}
h1 {
  margin-top: 0px;
  font-size: 90px;
  color: black;
  line-height: 2;
  font-family: "Sacramento", cursive;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: normal;
  font: 60px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

a {
  color: #11999e;
}

.top-container {
  background-color: #cbf1f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #a6e3e9;
}

.bottom-container {
  background-color: #71c9ce;
  padding-bottom: 50px;
}

span {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.computer-image {
  border-radius: 100%;
}

.profile-pic {
  border-radius: 100%;
}
